* {
  box-sizing: border-box;
}
:root {
  --color1: #05b1b1;
  --color2: #52339a;
  --bgc_block: #aff08e;
  --size: 600px;
  --colNums: 4;
}
.wrapper {
  padding: 0 100px;
  background-color: var(--bgc_block, yellow);
}
.lesson-content li {
  margin-bottom: 10px;
}
/* Блоки для показания работы свойства "calc" */
.box-paret {
  background-color: var(--color1);
  border: 2px solid #fa3904;
}
.box-parent__child {
  background-color: var(--color2);
  border: 2px solid #419c2b;
  margin: 0 auto;
  width: calc(100% / 3);
  width: calc(100% / var(--colNums));
}
